.code-block{

    h2{
    
        font-size: 28px;

        img{

            width: 26px;

        }

    }

}


/* width */
.code-block-container::-webkit-scrollbar {
    width: 20px;
}
  
  /* Track */
.code-block-container::-webkit-scrollbar-track {
    background: #ddd;
}
  
  /* Handle */
.code-block-container::-webkit-scrollbar-thumb {
    background: #555;
}

.code-block-container{

    display: flex;
    overflow: hidden;
    overflow-x: auto;

    border-bottom: 2px solid #414141;
    border-top: 2px solid #414141;
    border-right: 2px solid #414141;

    .code-lines ul{

        position: absolute;

        margin: 0;
        list-style: none;
        padding: 10px 6px;
        text-align: right;

        background: #414141;

        li{

            height: 20px;

        }
        

    }

    .code-container{

        padding: 10px 20px 10px 40px;
        
        p {
            white-space: nowrap;
            height: 20px;
            margin: 0;

        }

    }

    .pink-rb{color: #c586c0;}
    .green-rb{color: #4ec9a2}
    .light-green-rb{color: #3ac9b0}
    .blue-rb{color: #9cdcfe}
    .dark-blue-rb{color: #569cd6}
    .orange-rb{color: #ce9178}
    .yello-rb{color: #dccd79}

    b{
        font-weight: 500;
    }

}